<html>
<!-- the ccoment -->
<head>
<link rel="stylesheet" href="./build/app.css">
<div class = "header">
<h1>This is blog</h1>
</div>
</head>
<body>
<div class  = "post">
<h1>Your lucky number is {{ index }}</h1>
</div>
</body>
<html>