{% extends 'base.html.twig' %}

{% block body %}
 <div class="example-wrapper">
<center><input class  = "button_post_home" type="button" value = "SHOW POSTS" onclick="window.location.href='{{ path('app_post') }}'" ></input>&nbsp<input class  = "button_login_home" type="button" value = "LOGIN" onclick="window.location.href='{{ path('app_login') }}'"></input></center>     
    </div>
	
{% endblock %}